/*======================================
text-align
======================================*/
.hp_tac{
  text-align: center;
}

/*======================================
margin
======================================*/
.hp_mt20{
  margin-top: 20px;
}

.hp_mt80{
  margin-top: 80px;
}